<div class="page-container">
    <header class="page-header">
        <div class="page-header-backdrop"></div>
        <div class="user-profile-container container">
            <div class="user-avatar" style="background-image: url('{{ user.avatar }}');"></div>
            <h1 class="user-name">{{ user.name }}</h1>
            <div class="user-score">
                <i class="fa fa-star" aria-hidden="true"></i>
                {{ user.score }}
            </div>
        </div>  
    </header>
    <div class="page-content container">
        <div class="user-data-list-container">
            <h4 class="user-data-list-title">Recent Games</h4>
            {{#if games.length}}
            <div class="user-data-list-header">
                <div class="row">
                    <div class="col-xs-4">
                        Played as
                    </div>
                    <div class="col-xs-4">
                        Score
                    </div>
                    <div class="col-xs-4">
                        Date
                    </div>
                </div>
            </div>
            {{/if}}
            {{#unless games.length}}
            <p class="text-center">No games played :(</p>
            {{/unless}}
            <ul class="user-data-list">
                {{#each games}}
                <li>
                    <div class="row">
                        <div class="col-xs-4">
                            <div>{{this.nick}}</div>
                        </div>
                        <div class="col-xs-4">
                            <div>
                                {{this.score}} <span class="user-data-list-highlight">Kills
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div>
                                {{datefmt this.createdAt "DD/MM/YYYY"}}
                            </div>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
